/* Element Plus 自定义主题色 */
:root {
  --el-color-primary: #67B3DB;
  --el-color-primary-light-3: #9EDAF1;
  --el-color-primary-light-5: #CDEEF8;
  --el-color-primary-light-7: #E0F4FC;
  --el-color-primary-light-8: #EBF8FD;
  --el-color-primary-light-9: #F5FBFE;
  --el-color-primary-dark-2: #5299BF;
}

/* 自定义渐变背景 */
.theme-gradient {
  background: linear-gradient(135deg, #67B3DB 0%, #9EDAF1 33%, #CDEEF8 66%, #FFFBDD 100%);
}